.navBar {
  background: #353434 !important;
  margin-right: 1.5rem !important;
}

.ui.container {
  margin-left: 0 !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(red, green, blue, rgba(255, 0, 0, 0))
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffae00; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cc8b00; 
  border-radius: 10px;
}

<<<<<<< HEAD
/* Welcome User Paragraph */
.welcomeItem{
  color: white !important;
}

=======
.login-div {
  color: red;
}
>>>>>>> 865c6e430a586c747806cd741c7f36d02a2ebf69
